name: Playwright Tests & Allure Report

on:
  push:
    branches: [ main, master, feat/* ]
  pull_request:
    branches: [ main, master ]

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-node@v4
      with:
        node-version: 18

    - name: Install dependencies
      run: npm install

    - name: Install Playwright Browsers
      run: npx playwright install --with-deps

    - name: Clean up conflicting DB data
      run: |
        sudo rm -rf postgres-data
        sudo rm -rf pgdata
        sudo rm -rf .postgres-data

    - name: Create and Source .env
      run: |
        echo "DB_USER=postgres" >> .env
        echo "DB_PASSWORD=your_secure_password" >> .env
        echo "DB_NAME=postgres" >> .env
        echo "DB_PORT=5433" >> .env
        echo "DB_HOST=127.0.0.1" >> .env
        echo "POSTGRES_USER=postgres" >> .env
        echo "POSTGRES_PASSWORD=your_secure_password" >> .env
        echo "POSTGRES_DB=postgres" >> .env

    - name: Start Services
      run: |
        source .env
        docker compose up -d --build

    - name: Wait for Services
      run: sleep 30

    - name: Run Playwright tests
      run: npx playwright test --reporter=line,allure-playwright
      env:
        CI: true

    - name: Load test report history
      uses: actions/checkout@v3
      if: always()
      continue-on-error: true
      with:
        ref: gh-pages
        path: gh-pages

    - name: Build test report
      uses: simple-elf/allure-report-action@master
      if: always()
      with:
        gh_pages: gh-pages
        allure_history: allure-history
        allure_results: allure-results

    - name: Publish test report
      uses: peaceiris/actions-gh-pages@v3
      if: always()
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_branch: gh-pages
        publish_dir: allure-history